@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 83% 93%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 100% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8.9% 64.9%;
    --accent: 180 29% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 91.4%;
    --input: 210 40% 91.4%;
    --ring: 210 100% 40%;
    --chart-1: 210 100% 40%;
    --chart-2: 180 29% 39%;
    --chart-3: 210 10% 23%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 210 100% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 205 83% 93%;
    --sidebar-accent-foreground: 210 10% 23%;
    --sidebar-border: 210 40% 91.4%;
    --sidebar-ring: 210 100% 40%;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 0 0% 98%;
    --card: 210 10% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 100% 60%;
    --primary-foreground: 210 10% 10%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 29% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 210 100% 60%;
    --chart-1: 210 100% 60%;
    --chart-2: 180 29% 50%;
    --chart-3: 0 0% 98%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 10% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 100% 60%;
    --sidebar-primary-foreground: 210 10% 10%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 210 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
